<p><i> von www.managerslife.de vom 24. November 2011</i></p>

<h3>§1 Umgangston</h3>
<p>Das Beleidigen von Mitspielern ist verboten. Drohungen und gesetzwidrige Aussagen sind verboten. Der Missbrauch des Spieles und dessen Foren zur Verbreitung von Diebesspiel-Links, Werbung oder sonstigen Spamnachrichten ist verboten.</p>

<h3>§2 Accountverkauf</h3>
<p>Es ist verboten den Account aus kommerziellen Zwecken zu führen. Desweiteren ist es nicht erlaubt spielinterne Leistungen von Mitspielern zu kaufen. Es ist egal ob es sich um Premiumpunkte, Dienstleistung, Geld oder sonstige Wertgegenstände handelt.</p>

<h3>§3 Multiaccounts</h3>
<p>Jeder Spieler darf nur einen Account haben. Die Weitergabe des Passwortes ist untersagt. Wenn sich zwei Spieler eine Internetverbindung teilen müssen sie das den Betreibern melden.</p>

<h3>§4 Bugs und Programmfehler</h3>
<p>Jeder Spieler ist dazu verpflichtet Bugs oder sonstige Programmfehler schnellst möglich der Spielleitung mitzuteilen. Das Ausnutzen von Bugs und Programmfehlern ist nicht gestattet und führt zum Ausschluss aus dem Spiel.</p>

<h3>§5 Scripte und Bots</h3>
<p>Das Spiel darf nur mit einem konventionellen Browser aufgerufen werden. Es ist verboten Scripts oder Bots zur automatisierung von Vorgängen zu nutzen. Jegliche Scripts, die zum Beispiel die Steuerung des Spiels vereinfachen, müssen einem Administrator vorgestellt werden.</p>

<h3>§6 Spieler werben Spieler</h3>
<p>Geworbene Spieler dürfen nicht von der gleichen IP Spielen wie der Spieler selbst. Außerdem ist es nicht gestattet dem geworbenem Spieler durch Schenkungen zu helfen.</p>

<h3>§7 Accountlöschung</h3>
<p>Den Moderatoren und Administratoren steht es frei aus verschiedensten Gründen den Spielaccount zu verändern, zu sperren oder zu löschen. Eine Löschung kann automatisch erfolgen wenn sich ein Benutzer 14 Tage nicht in seinen Account einloggt.</p>

<p>Sollten noch offene Fragen bestehen dann wende Dich bitte an den Support.</p>