<p>(1) Die Betreiber sind nicht verpflichtet www.managerslife.de für User ("Benutzer", "Teilnehmer") online zur Verfügung zu stellen. Wir können die Verfügbarkeit
 der Homepage und die des Spieles nicht gewährleisten und  bei Störungen, Verfügbarkeit, Fehlern, Schäden jeder Art nicht haftbar gemacht werden.</p>
 
<p>(2) Jeder Manipulationsversuch oder die Verbreitung von Inhalten des Spieles (Grafiken, Programmcodes usw.)  sind untersagt und werden bei Missachtung
 zur Anzeige führen. jQuery, jQuery-UI, die Social-Icons, die Tileset02.png-Grafiken und die Charakter-Grafiken sind jedoch frei verfügbar. Siehe <a href="{$app_dir}site/legal/credits">Credits</a></p>
 
<p>(3) Der Dienst ist für alle User kostenlos. Dies gilt nicht bei Beantragung einer Premium-Mitgliedschaft.</p>
 
<p>(4) Doppelte Accounts (Mehrfachanmeldungen/Multiaccounts) und inaktive Spieler, die sich mehr als 2 Wochen nicht eingeloggt haben, werden aus der 
Datenbank gelöscht. Ausgenommen davon sind Premium-Spieler. User die unseren Service nicht mehr nutzen wollen, können ihre Mitgliedschaft im Spiel unter "Charakter" kündigen. 
Dabei verfallen alle noch vorhandenen Premiumpunkte.</p>
 
<p>(5) Beleidigungen, Beschimpfungen, das Verwenden von obszönen, Gewaltverherrlichen oder gegen deutsches Recht verstoßende Wörtern, Sätze,
 Usernamen oder ähnlichem sind verboten und werden bei Missachtung durch sofortiges Löschen des jeweiligen User geahndet.</p>
 
<p>(6) Bezahlte Leistungen und Premiumpunkte können nur zurückerstattet werden, wenn der korrekte Verwendungszweck bei der Überweisung angegeben wurde, und die Premiumpunkte noch nicht 
eingesetzt ("aktiviert", "verwendet") wurden. Eine Rückerstattung ist nur innerhalb der ersten 14 Tage nach dem Kauf möglich.
Bei einer Überweisung werden die Premiumpunkte nach Zahlungseingang innerhalb von 2-4 Tagen gutgeschrieben. 
Bei Accountsperrung/löschung auf Grund eines Verstoßes gegen die AGBs oder Spielregeln können keine Premiumpunkte zurückerstattet werden.</p>
 
<p>(7) Es ist nur gestattet dieses Spiel mit den Webbrowser zu spielen. Die Nutzung von anderen Scripten oder Programmen, die das Spiel anderst darstellen oder 
beeinflussen, sind verboten.</p>
 
<p>(8) Jeder User ist für die Sicherheit seines Accounts selber verantwortlich. Bei Verlusten oder Weitergabe des Passwortes oder anderen Daten,
 sowie die Manipulation des Accounts durch Dritte können wir nicht haftbar gemacht werden.</p>
 
<p>(9) Den Moderatoren und Entwicklern sollte Folge geleistet werden. Kein Mitarbeiter wird Spieler je nach einen Passwort fragen. Sollten Mails,
 Nachrichten oder andere Auforderungen nach vertraulichen Daten kommen, melden sie das bitte an die im Impressum angegebene E-Mail-Adresse.</p>
 
<p>(10) Mit der Registrierung ist der User damit einverstanden, das bei Cheatversuchen sein(e) Account(s) gelöscht werden und der Username öffentlich
 bekannt gegeben wird/werden. Dies gilt insbesondere für User die sich an anderen Accounts (Multiaccounts) bedienen. Bei Sperrungen und/oder Accountlöschungen 
 werden keinerlei Premiumpunkte zurückerstattet.</p>
 
<p>(11) Verlust des Accounts, von Ressourcen oder Premiumpunkten usw. durch Bugs oder ähnlichen müssen nicht durch uns ersetzt werden. Die im Spiel verwendete Währung ist 
virtuell und bleibt Eigentum der Betreiber. Alle Spielgegenstände sind ebenfalls virtuell und bleiben Eigentum der Betreiber.</p>
 
<p>(12) Eine Spielrunde kann jederzeit durch die Betreiber beendet bzw. neu gestartet werden.</p>
 
<p>(13) Die Betreiber des Spieles können diese AGB jederzeit ändern oder erweitern, teilen dies jedoch den Spielern mit.</p>
 
<p>(14) Mit der Registrierung ist der Spieler ebenfalls einverstanden, das IP's und sonstige
Daten gespeichert und zur Verfolgung von Multiaccounts verwendet werden.</p>
 
<p>(15) Alle Daten die der Nutzer bei der Registrierung angibt werden vertraulich
behandelt und nicht weitergegeben.</p>
 
<p>(16) Mit der Registrierung willigt der User ein, Newsletter mit Infos über die Entwicklung
des Spieles sowie wichtige Änderungen zu erhalten.</p>

<p>(17) Bei einem Verstoß gegen die AGBs oder die Regeln können nach einer Accountsperrung keine Premiumpunkte zurückerstattet werden.</p>
 
<p>(18) Diese AGBs gelten sowohl für zahlende Kunden, als auch Usern ohne aktiven Premiumaccount.</p>
