<h3>Rohstoff- und Produktgrafiken, Casino-Tileset, Design, Game Design, Programmierung</h3>

<p>Alexander Thiemann <br />
<a href="http://www.agrafix.net">www.agrafix.net</a></p>

<h3>FamFamFam Icons</h3>
<a href="http://famfamfam.com">famfamfam.com</a>

<h3>Tile-Grafiken (tileset02.png) und Charakter-Grafiken</h3>

<p>Werden unter der Creative Commons Attribution Share-Alike Lizenz verwendet. <br />
&copy; <a href="http://silveiraneto.net">silveiraneto.net</a> <br />
(<a href="http://silveiraneto.net/tag/characters/">Characters</a> | <a href="http://silveiraneto.net/tag/tileset/">Tileset</a>)</p>

<h3>Social-Icons Startseite</h3>

<p>Werden unter der Creative Commons Attribution No Derivatives verwendet. <br />
&copy; <a href="http://www.doublejdesign.co.uk/">doublejdesign.co.uk/</a></p>

<h3>Powered by jQuery &amp; jQuery-UI</h3>

<p><a href="http://jquery.com/">jQuery</a> / <a href="http://jqueryui.com/">jQuery-UI</a></p>